/* Body changes */

body { font-family: Courier New; color: red; background-color: pink;}

/* h1 changes */

h1 { font-family: Arial; color: blue; }

/* h4 changes */

h4 { font-family: Helvetica; color: green; }

/* border */

p {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

/* 
