.left {
  position: relative;
  right: 60px;
}

.right {
  position: relative;
  left: 60px;
}

.boxed {
  border: solid white 5px;
  padding: 400px;
  background-color: black;
  color: white;
  width: 200px;
  height: 240px;
}

a:hover{
 border: solid white 1px;  
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a {font-size: 60px}

body {
  background-color: black;
}

h1 { color: white; }

h2 { color: white; }

h3 { color: white; }

img {
    width: 200px;
    height: 240px;
}
