#justtext {
  float: left;
}

#images {
  float: right;
}

.boxed {
  border: solid white 5px;
  padding: 400px;
  background-color: black;
  width: 200px;
  height: 240px;
}

body {
  background-color: black;
}

h1 { color: white; }

h2 { color: white; }

h3 { color: white; }

img {
    width: 200px;
    height: 240px;
}
